<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ungit</title>
    <!-- Load bulma.min.css -->
    <link rel="stylesheet" href="/assets/css/bulma.min.css" />
    <!-- Load style.css -->
    <link rel="stylesheet" href="/assets/css/popup.css" />
    <!-- Load moment.js -->
    <script src="/src/vendor/moment.js"></script>
    <!-- Load jquery.min.js -->
    <script src="/src/vendor/jquery.min.js"></script>
    <!-- Load axios.js -->
    <script src="/src/vendor/axios.js"></script>
    <!-- Load helper.js -->
    <script src="/src/helper.js"></script>
    <!--  Load template engine related staff    -->
    <script src="/src/vendor/handlebars.js"></script>
    <script src="/src/vendor/template_helper.js"></script>
    <script src="/src/vendor/template.js"></script>
  </head>
  <body>
    <!-- Welcome screen -->
    <div class="page is-flex is-flex-direction-column is-justify-content-center is-align-items-center hidden" id="welcome-screen">
      <img src="/assets/img/full_logo.png" alt="Ungit" style="width: 40vw; margin-bottom: 20px;" />
      <div class="is-flex is-flex-direction-row mt-6" style="width: 75vw">
        <input
          class="input mb-2 is-dark mr-2"
          type="text"
          placeholder="Enter your Github username"
          id="username-input"
        />
        <button class="button is-dark is-dark-focused has-text-weight-medium" id="username-submit-btn">
          Get Started
        </button>
      </div>
      <p class="has-text-danger hidden" id="github-username-not-found-helper">GitHub Username Not Found !</p>
    </div>


    <!-- Second page -->
    <div class="page hidden" id="second-screen">
        <!-- Topbar -->
          <div class="choose_option_issue_pr">
            <img src="/assets/icons/icon48x48.png" class="mr-4" height="40px" />
            <div class="underlinedtabs">
                <div class="underlinedtab is-active"  id="issues-tab">
                  <span>Issues</span>
                </div>
                <div class="underlinedtab" id="prs-tab">
                  <span>PRs</span>
                </div>
            </div>
              <img src="/assets/img/signout.png" id="signout" alt="SignOut" height="200px" />
          </div>


      <!-- Issue Category bar -->
      <div class="roundedtabs mt-2 mb-3 hidden" id="issue-category-bar">
          <div class="roundedtab" id="issue-category-assigned">
            <span>Assigned</span>
          </div>
          <div class="roundedtab" id="issue-category-mentioned">
            <span>Mentioned</span>
          </div>
          <div class="roundedtab" id="issue-category-created">
            <span>Created</span>
          </div>
      </div>

        <!-- PR Category bar -->
        <div class="roundedtabs mt-2 mb-3 hidden"  id="pr-category-bar">
            <div class="roundedtab" id="pr-category-under-review">
                <span>Ongoing Review</span>
            </div>
            <div class="roundedtab" id="pr-category-merged">
                <span>Merged</span>
            </div>
            <div class="roundedtab" id="pr-category-ci-passed">
                <span>CI Passed</span>
            </div>
            <div class="roundedtab" id="pr-category-ci-failed">
                <span>CI Failed</span>
            </div>
            <div class="roundedtab" id="pr-category-awaiting-review">
                <span>Awaiting Review</span>
            </div>
            <div class="roundedtab" id="pr-category-draft">
                <span>Draft</span>
            </div>
        </div>
      <!-- divider -->
      <div class="divider"></div>

        <!-- Cards list -->
        <div class="cards-list" id="cards-list">
<!--            <div class="info-card">-->
<!--                <div class="card-title">Performance Improvement</div>-->
<!--                <div class="card-subtitle">-->
<!--                    Circuitverse/mobile-app <span class="label">enhancement</span> <span class="label">enhancement</span>-->
<!--                </div>-->
<!--                <div class="">-->
<!--                    <span class="label"><span class="dot red"></span>enhancement</span>-->
<!--                    <span class="label"><span class="dot yellow"></span>enhancement</span>-->
<!--                    <span class="label"><span class="dot green"></span>enhancement</span>-->
<!--                    <span class="label">good first issue</span>-->
<!--                </div>-->
<!--                <div class="details">-->
<!--                    <div class="chat-count">-->
<!--                        <img src="/assets/icons/chat.png" />69-->
<!--                    </div>-->
<!--                    &nbsp;-->
<!--                    &#x2022;-->
<!--                    &nbsp;-->
<!--                    <b>opened</b>&nbsp;28-12-2021-->
<!--                    &nbsp;-->
<!--                    &#x2022;-->
<!--                    &nbsp;-->
<!--                    <b>last updated</b>&nbsp;28-12-2021-->
<!--                </div>-->
<!--            </div>-->

        </div>
    </div>
    <!-- Load scripts -->
    <script src="/src/popup.js"></script>
  </body>
</html>
